@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-primary {
    @apply z-10 py-3 px-4 bg-gradient-to-br from-teal-300 to-blue-300 text-white font-semibold rounded-full shadow-md hover:bg-blue-400 hover:border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b-4 transition-all border-blue-100 focus:outline-none focus:ring-2 focus:ring-white;
  }

  /* Custom Image Loader */

  /* Other stuff */
  @font-face {
    font-family: NJP-Black;
    src: url("font/NotoSerifJP-Black.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-Bold;
    src: url("font/NotoSerifJP-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-ExtraLight;
    src: url("font/NotoSerifJP-ExtraLight.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-Light;
    src: url("font/NotoSerifJP-Light.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-Medium;
    src: url("font/NotoSerifJP-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-Regular;
    src: url("font/NotoSerifJP-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: NJP-SemiBold;
    src: url("font/NotoSerifJP-SemiBold.otf") format("opentype");
  }
  @font-face {
    font-family: IMFellEnglishSC;
    src: url("font/IMFellEnglishSC-Regular.ttf") format("opentype");
  }
}
